<?xml version="1.0"?>
<launch>

 <param name="robot_description" 
  command="$(find xacro)/xacro '$(find mywheelchair_description)/urdf/myrobot.urdf_old.xacro'" />
   
  <!-- <arg name="rviz_config_file" default="$(find wheelchair_nav)/config/last_config.rviz"/> -->

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz"  args="-d $(arg rviz_config_file)" /> -->


</launch>
